@import "mapbox-gl/dist/mapbox-gl.css";
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=block");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=block");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=block");

body {
  background-color: $body-bg;
  overflow: hidden;
  font-family: "Sofia Sans", sans-serif;
  // color: #0d0d0d;
  color: $primary;
}

h2 {
  font-size: 20px;
  line-height: 100%;
  margin: 0;
}

// p {
//   font-weight: 500;
// }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  background: transparent;
  border: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  color: $primary;
  padding: 0;
  transform: translateX(8px);

  i {
    font-size: 20px;
  }
}

body.screen--sm,
body.screen--xs {
  i {
    font-size: 18px;
  }
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

label {
  // font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
}

input.suggestion {
  border: 0;
  padding: 6px 8px;
  font-size: 16px;
  margin-top: 6px;
  font-weight: 600;
}

input:focus {
  outline: none;
}

input::placeholder {
  opacity: 0.5;
  color: $primary;
}

button.submit:focus {
  outline: none;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 2px solid $focus-color;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: $primary !important;
}

.error-message {
  height: 24px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 2px;

  .icon {
    font-size: 14px;
    transform: translateY(-1px);
  }
}
