@import "mapbox-gl/dist/mapbox-gl.css";

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend+Giga:wght@100..900&family=Lexend+Peta:wght@100..900&family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exile&display=block");
@import url("https://fonts.googleapis.com/css2?family=Blaka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&family=Beau+Rivage&family=Blaka&display=block");
@import url("https://fonts.googleapis.com/css2?family=Meddon&display=block");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=block");
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  background-color: $body-bg;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  color: $deep-blue;
}

h2 {
  // font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  margin: 0;
  // text-transform: uppercase;
}

p {
  font-weight: 500;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  background: transparent;
  border: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  color: $deep-blue;
  padding: 0;
  transform: translateX(8px);

  i {
    font-size: 20px;
  }
}

body.screen--sm,
body.screen--xs {
  i {
    font-size: 18px;
  }
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
}

input.suggestion {
  border: 0;
  padding: 6px 8px;
  font-size: 16px;
  margin-top: 6px;
  font-weight: 600;
}

input:focus {
  outline: none;
}

input::placeholder {
  opacity: 0.5;
  color: $deep-blue;
}

button.submit {
  background: $deep-blue;
  border: 0;
  color: white;
  text-transform: uppercase;
  padding: 8px;
  font-size: 18px;
  font-weight: 800;
  // margin-top: 8px;
}

button.submit:focus {
  outline: none;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 2px solid $focus-color;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #060606 !important;
}

.error-message {
  height: 24px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 2px;

  .icon {
    font-size: 14px;
    transform: translateY(-1px);
  }
}
