@import "mapbox-gl/dist/mapbox-gl.css";
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=block");

body {
  background-color: $background;
  overflow: hidden;
  font-family: "Sofia Sans", sans-serif;
  color: $charcoal;
}

h2 {
  font-size: 20px;
  line-height: 100%;
  margin: 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  background: transparent;
  border: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  color: $charcoal;
  padding: 0;
  transform: translateX(8px);

  i {
    font-size: 20px;
  }
}

body.screen--sm,
body.screen--xs {
  i {
    font-size: 18px;
  }
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  text-transform: uppercase;
}

input.suggestion {
  border: 0;
  padding: 6px 8px;
  font-size: 16px;
  margin-top: 6px;
  font-weight: 600;
}

input:focus {
  outline: none;
}

input::placeholder {
  opacity: 0.5;
  color: $charcoal;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 2px solid $primary;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: $charcoal !important;
}

.glass-card {
  background: rgba(242, 243, 248, 0.67);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  border-radius: 20px;

  border: 1px solid rgba(255, 255, 255, 0.6);

  box-shadow:
    0 10px 30px rgba(20, 25, 40, 0.08),
    0 2px 8px rgba(20, 25, 40, 0.05);
}
