// electric blue
$primary: #3636f2;
// fiery red
$secondary: #ff5e3d;
// dark brown
$accent: #2b130b;

$deep-blue: #0a1657;
$deep-purple: #1f0b32;

// Plum / orchid
$primary: #62045f;
$secondary: #ffc6f7;

// Beige / charcoal
// $primary: #0d0d0d;
// $secondary: #e8e3dc;

// Warm yellow
// $secondary: #ffde90;

$dark: #141312;
$dark-page: #141312;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$body-bg: #e0dad1;
$font-color: #060606;
$focus-color: #f5b642;
