$primary: #6388eb;
$secondary: #ff5e3d;
$accent: #2b130b;

$background: #f2f3f8;
$charcoal: #1a1c24;

$dark: #141312;
$dark-page: #141312;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$focus-color: #fc6435;
